
//colors 
$colors: (
    "primary":  #db9e3f,
    "info": #4b67af,
    'blue': #4394e4,
    "blue-1": #1f3695,
    "white":  #fff,
    "white-1":  #fcfcfc,
    "white-2":  #eceef0,
    "light":  #f9f9f9,
    "light-1":  #d4d9de,
    "grey":  #999,
    "grey-1":  #666,
    "dark-1": #343440,
    "dark":  #222,
    "black":  #000,
    "danger": #791a15,

);

$border-color: map-get($colors, "light-1");
// font size 
$base-font-size:1rem;
$font-sizes: (
    xxs: 0.6154, //8px
    xs: 0.7692,  //10px
    sm: 0.9231,  //12px
    md: 1,          //13px
    lg: 1.0769,  //14px
    xl: 1.2308,  //16px
);

.d-flex {
    display: flex;
}

.flex {
    flex-direction: column;
}

// width 
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
);


$flex-ai: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch,
);

.flex-1 {
    flex: 1;   //表示自己增大撑开，占有剩余的空间
}

.flex-grow-1 {
    flex-grow: 1;   //表示自己增大撑开，占有剩余的空间
}


//spacing
$spacing-types: (m: margin, p: padding);
$spacing-directions: (t: top, r: right, b: bottom, l: left); 
$spacing-base-size: 1rem;
$spacing-sizes: (
    0: 0, 
    1: 0.25, 
    2: 0.5, 
    3: 1, 
    4: 1.5, 
    5: 3,
    6: 6
);
